.card-styles:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}
.btn-style{
    border: none;
    border-radius: 15px;
    background-color: rgb(238, 61, 84);
    color: white;
    width: 100px;
    height: 30px;
  }